.title {
  line-height: 1.08 !important;
  letter-spacing: -.014em !important;
  text-wrap: balance;
}

@media (max-width: 800px) {
  .title {
    line-height: 1.1 !important;
    letter-spacing: -.01em !important;
  }
}
